In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression

In [2]:
heart_diseases = pd.read_csv('/Users/dipeshsonawane/Desktop/DSBDA DIPU/heart.csv')

In [20]:
null_values = heart_diseases.isnull()

In [21]:
null_values

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1021,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1022,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1023,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1024,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [3]:
heart_diseases_cleaned = heart_diseases.dropna()

In [4]:
heart_diseases_cleaned

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [5]:
heart_diseases_cleaned = heart_diseases.drop_duplicates()
heart_diseases_cleaned

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
723,68,0,2,120,211,0,0,115,0,1.5,1,0,2,1
733,44,0,2,108,141,0,1,175,0,0.6,1,0,2,1
739,52,1,0,128,255,0,1,161,1,0.0,2,1,3,0
843,59,1,3,160,273,0,0,125,0,0.0,2,0,2,0
878,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [6]:
heart_diseases['sex'] = heart_diseases['sex'].replace({0: 1, 1: 0})  #transform

In [7]:
heart_diseases['sex']

0       0
1       0
2       0
3       0
4       1
       ..
1020    0
1021    0
1022    0
1023    1
1024    0
Name: sex, Length: 1025, dtype: int64

In [8]:
X = heart_diseases.drop('target', axis=1)
y = heart_diseases['target']

In [9]:
X

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,52,0,0,125,212,0,1,168,0,1.0,2,2,3
1,53,0,0,140,203,1,0,155,1,3.1,0,0,3
2,70,0,0,145,174,0,1,125,1,2.6,0,0,3
3,61,0,0,148,203,0,1,161,0,0.0,2,1,3
4,62,1,0,138,294,1,1,106,0,1.9,1,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,0,1,140,221,0,1,164,1,0.0,2,0,2
1021,60,0,0,125,258,0,0,141,1,2.8,1,1,3
1022,47,0,0,110,275,0,0,118,1,1.0,1,1,2
1023,50,1,0,110,254,0,0,159,0,0.0,2,0,2
1024,54,0,0,120,188,0,1,113,0,1.4,1,1,3

In [10]:
y

0       0
1       0
2       0
3       0
4       0
       ..
1020    1
1021    0
1022    0
1023    1
1024    0
Name: target, Length: 1025, dtype: int64

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [12]:
#X_train = X_train.fillna(X_train.mean())
#X_test = X_test.fillna(X_test.mean())

In [13]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [14]:
model = LogisticRegression()
model.fit(X_train_scaled, y_train)

LogisticRegression()

In [27]:
accuracy = model.score(X_test_scaled, y_test)
print("Model accuracy:", accuracy)

Model accuracy: 0.7951219512195122

In [28]:
user_data = pd.DataFrame({'age': [26], 'sex': [1], 'cp': [0],'trestbps':[150], 'chol': [200],'fbs':[0],'restecg':[1],'thalach':[150], 'exang': [0], 'fbs': [1],
                          'oldpeak': [1.0], 'slope': [2], 'ca': [1], 'thal': [3]})

In [29]:
user_data_scaled = scaler.transform(user_data)

In [30]:
predictions = model.predict(user_data_scaled)

In [31]:
if predictions[0] == 0:
    print("No heart disease detected.")
else:
    print("Heart disease detected.")

Heart disease detected.