
2. Perform the following operations using Python on the Facebook metrics data sets
a. Create data subsets 
b. SortData
c. Shape and reshape Data

In [3]:
import pandas as pd

In [4]:
#load the datatset usinf pd.read_csv commmand
df = pd.read_csv('/Users/dipeshsonawane/Desktop/DSBDA DIPU/dataset_Facebook.csv')

In [5]:
df.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393

In [7]:
df1= df[['Page total likes','Type'	,'Category', 'Post Month','Post Weekday','Post Hour','Paid']]
df1.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid
0,139441,Photo,2,12,4,3,0.0
1,139441,Status,2,12,3,10,0.0
2,139441,Photo,3,12,3,3,0.0
3,139441,Photo,2,12,2,10,1.0
4,139441,Photo,2,12,2,3,0.0

In [8]:
df2= df[['Page total likes','Lifetime Post Total Reach','Lifetime Post Total Impressions','Lifetime Engaged Users','Lifetime Post Consumers','Lifetime Post Consumptions']]
df2.head()

,Page total likes,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions
0,139441,2752,5091,178,109,159
1,139441,10460,19057,1457,1361,1674
2,139441,2413,4373,177,113,154
3,139441,50128,87991,2211,790,1119
4,139441,7244,13594,671,410,580

In [11]:
#sort data

sorted_data = df.sort_values('Page total likes', ascending=False)